version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    restart: always
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
      - ./data/mongodb:/data/db
    environment:
      MONGO_INITDB_DATABASE: logs
    command: mongod --quiet --logpath /dev/null

